.give-up-button{
  font-size: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 0;
  color: var(--text-color);
  background: none;
  text-decoration: var(--text-color) underline;
  padding: 1rem;
  opacity: 90%;
  animation: grow 1s ease-in-out infinite;

}

@keyframes grow {
  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(1);

  }
}
