.board {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 0.5rem;
  padding: 1.5rem;
}

.board:focus-visible {
  outline: none;
}

.hidden-input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  border: none;
  outline: none;
}
